.img-footer{
    width: 260px;

}

.nav-link:hover{
    color: white;
}

.nav-link {
    display: inline-block;
    position: relative;
    color: #ffffff;
}
  
  .nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .js-cookie-consent{
    position: fixed;
    bottom: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    z-index: 9999;
    background-color: #3e3e3eb3;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    color: white;
  }

  .js-cookie-consent-agree, .cookie-buttons{
    cursor: pointer;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.705);
    color: red;
  }

  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    padding: 25px 15px 24px 15px;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
  }

  .img_idioma{
    padding-right: 20px;
  }

  .navbar .dropdown ul li {
    min-width: 85px;
}

/**TABLE COOKIES**/
.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #a9a9a9;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#b8b8b8;border-width: 1px;padding: 8px;border-style: solid;border-color: #a9a9a9;text-align:left;}
.tftable tr {background-color:#cdcdcd;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #a9a9a9;}
.tftable tr:hover {background-color:#ffffff;}

/**SLIDER BTN**/
.btn-slider{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  margin-top: 10%;
  background-color: #333333;
}

.btn-slider:hover {
  background-color: #cc1616;
  border: 2px solid #fff;
  color: #fff;
  text-shadow: none;
}

/**SLIDER CONFIG**/
.carousel-caption-config{
  right: 70%;
  top: 4%;
  width: 70%;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 4px 4px 2px rgba(0,0,0,0.35);
  font-weight: bold;
  text-align: left;
}

.carousel-caption-config h5{
  font-size: 1rem; 
}

.bigger{
  font-weight: bold;
  font-size: 1.5rem;
}

/** Small devices (landscape phones, 576px and up)**/
@media (min-width: 576px ) and (max-width: 767.98px) { 
  .bigger{
    font-size: 2.2rem;
  }
 }

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) { 
  .carousel-caption-config{
    width: 45%;
    top: 8%;
  }
  .bigger{
    font-size: 3rem;
  }
  .btn-slider{
    margin-top: 20px;
  }
 }

/** Large devices (desktops, 992px and up)**/
@media (min-width: 992px) { 
  .carousel-inner{
    height: 700px;
  }
}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) { 
  .carousel-inner{
    height: 600px;
  }
}

/**SLIDER BRANDS**/
@keyframes scroll {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(calc(-250px * 8));
 }
}
.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 99%;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 15);
  height: 100px;
}
.slider .slide {
  height: 100px;
  width: 250px;
}

/** CONTACT **/
#ebcaptchainput{
  width: 90px;
}

/**FOOTER **/
.ecoxpert-img{
  height: 100px;
  width: 180px;
  margin-top: 18px;
}

.footer-newsletter{
  display: flex;
  justify-content: center;
}